<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
   
    <link rel="stylesheet" href="/style/home1.css">
    
    <!----- FONT AWESOME CSS FOR ICONS FONTS ------>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


</head>
<body>
   <%-include('test.ejs') %>
   <%- include('contact.ejs') %>
     <footer>
        <div class="container-3">
            <div class="row-3">
                  <div class="col-3" id="company">
                      <img src="/img/logo.png" alt="" class="logo">
                      <p>
                        We are specialized in learning, make our business a brand.
                        Try our premium services.
                      </p>
                      <div class="social">
                        <a class="icon" href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin"></i></a>
                      </div>
                  </div>


                  <div class="col-3" id="services">
                     <h3>Services</h3>
                     <div class="links">
                        <a href="#">Illustration</a>
                        <a href="#">Creatives</a>
                        <a href="#">Learn</a>
                        <a href="#">Card Design</a>
                     </div>
                  </div>

                  <div class="col-3" id="useful-links">
                     <h3>Links</h3>
                     <div class="links">
                        <a href="#">About</a>
                        <a href="#">Services</a>
                        <a href="#">Our Policy</a>
                        <a href="#">Help</a>
                     </div>
                  </div>

                  <div class="col-3" id="contact">
                      <h3>Contact</h3>
                      <div class="contact-details">
                         <i class="fa fa-location"></i>
                         <p>H4-06, Modern boys hostel, <br> NY, Kolkata</p>
                      </div>
                      <div class="contact-details">
                         <i class="fa fa-phone"></i>
                         <p>+91-8755856858</p>
                      </div>
                  </div>
            </div>

            <div class="row-3">
                  <div class="form-3">
                    <form action="">
                        <input type="text" placeholder="Email here...">
                        <button><i class="fa fa-paper-plane"></i></button>
                    </form>
                  </div>
            </div>

        </div>
       
     </footer>
     <div className='legal'>
      <p>
        Copyright ©2022 All rights reserved | 
      </p>
    </div>
</body>
</html>